@charset "UTF-8";

/*
COLORS USED
===========
purple: 8C008A
light-purple: D8ADDE
light-grey: DBDBDB
orange: 9F6A00
*/


body {
	font-family: Arial;
	background-color: white;
}

header {
	color: #8C008A;
}

header h1 {
	color: #8C008A;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 64px;
	font-weight: 700;
	line-height: 64px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 2px 2px #D8ADDE;
}

h2 {
	color: #8C008A;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
	font-weight: 700;
	line-height: 64px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: left;
	text-transform: uppercase;
	text-shadow: 2px 2px #D8ADDE;
}


h3 {
	color: #8C008A;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: left;
	text-transform: uppercase;
}

a {
	outline: 0;
}

#navigation-menu {
	background-color: black;
	font-size: 18px;
	margin:10 0 0;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#navigation-menu li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

#navigation-menu li:hover {
	text-decoration: none;
	background-color: #8C008A;
}

#navigation-menu a {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

#navigation-menu a:link {
	text-decoration: none;
}

#navigation-menu a:visited {
	text-decoration: none;
}

#navigation-menu a:hover {
	text-decoration: none;
	background-color: #8C008A;
	color: white;
}

#navigation-menu a:active {
	text-decoration: none;
}

.section-title {
	padding-top: 0px;
	padding-bottom: 0px;
}

.news-title {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 700px;
	margin-right: 0px;
	padding-right: 0px;
}

hr {
	border-top: 0.1px solid;
 	border-bottom: 0px solid;
}

.news-content-preview {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 30px;
	margin-right: 0px;
	width: 700px;
	line-height: 1.5em; /*for space between lines*/
}

.index-article {
	width: 730px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	box-shadow: 4px 4px #D8ADDE;
}

.index-article a {
	text-decoration: none;
	color: black;
}

.odd-background {
	background-color: #DBDBDB;
}

#last-result h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 25px;
}

#last-result table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 90%;	
	border: none;
	border-collapse: collapse;
	box-shadow: 4px 4px #D8ADDE;
}

#last-result th {
	color: #8C008A;
	font-size: 25px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #DBDBDB;
}

#last-result td {
	padding-top: 5px;
	padding-bottom: 5px;
}

#team-left {
	font-size: 25px;
	padding-right: 5px;
	text-align: right;
	width: 42%;
	background-color: #8C008A;
	color: white;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid #8C008A;
}

#team-right {
	font-size: 25px;
	padding-left: 5px;
	text-align: left;
	width: 42%;
	background-color: #8C008A;
	color: white;
	font-weight: bold;
	font-style: italic;
	border-top: 1px solid #8C008A;
}

.result {
	text-align: center;
	width: 8%;
	background-color: #D8ADDE;
	border: 1px solid #8C008A;
	font-family: 'Quantico', sans-serif;
	color: #9F6A00;
	font-size: 35px;
}

#navigation-bar {
	position: absolute;
	top: 450px;
	left: 800px;
}

#navigation-bar h3 {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

#navigation-bar  ul {
	list-style: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
}

#navigation-bar ul li {
 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-left: 10px;
 	padding-right: 10px;
 	margin-bottom: 5px;
 	outline: 1px solid #DBDBDB;
 	width: 100%;
 	height: 20px;
}

.next-games-left {
	display: block;
	float: left;
}

.next-games-right {
	display: block;
	float: right;
}
 
 
