<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" th:content="${description}"/>
    <meta name="keywords" th:content="${keywords}"/>
    <meta name="author" th:content="${author}" />
	<meta name="copyright" th:content="${copyright}" />
	<meta charset="utf-8"/>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quantico:ital@1&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<header>
		<h1 th:text="${title}"/>
	</header>
	<nav>
		<ul id="navigation-menu">
			<li th:each="item: ${menu}"><a th:href="${item.link}" th:utext="${item.item}" /></li>
		</ul>
	</nav>
	
	<section id="last-result">
		<header><h2>&Uacute;ltimo Resultado</h2></header>
		
		<table>
			<tr><th colspan="4" th:text="${lastGame.tournament.name} + ' '+ ${lastGame.tournament.season}"/></tr>
			<tr>
				<td id="team-left" th:text="${lastGame.local}"/>
				<td class="result" th:text="${lastGame.scoreLocal}"/>
				<td class="result" id="result-right" th:text="${lastGame.scoreVisitor}"/>
				<td id="team-right" th:text="${lastGame.visitor}"/>
			</tr>
		</table>
	</section>
	
	<hr/>
	
	<section>
		<header>
			<h2 class="section-title">&Uacute;ltimas Noticias:</h2>
		</header>
		<hr/>
		<article th:each="item: ${news}" th:class="${itemStat.odd}? 'index-article odd-background' : 'index-article'">
			<a th:href="'/News/' + ${item.id}">
			<header>
				<h3 class="news-title" th:utext="${item.title}"/>
			</header>
			<p class="news-content-preview" th:utext="${item.content}"/>
			</a>
		</article>
	</section>
	
	<nav id="navigation-bar">
		<!-- TODO navigation bar with next games, publicity... -->
		  <h3>Pr&oacute;ximos partidos</h3>
		  <ul>
    		<li>Real Madrid - Lenovo Tenerife</li>
    		<li>Real Madrid - F.C.Barcelona</li>
    		<li>Zalguiris Kaunas - Real Madrid</a></li>
  		</ul>
	</nav>
	
	<footer>
		<!-- TODO footer -->
	</footer>
</body>
</html>