<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" th:content="${description}"/>
    <meta name="keywords" th:content="${keywords}"/>
    <meta name="author" th:content="${author}" />
	<meta name="copyright" th:content="${copyright}" />
	<meta charset="utf-8"/>
	
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<header>
		<h1 th:text="${title}"/>
	</header>
	<nav>
		<ul id="navigation-menu">
			<li th:each="item: ${menu}"><a th:href="${item.link}" th:utext="${item.item}" /></li>
		</ul>
	</nav>
	
	<section id="last-result">
		<header><h2>&Uacute;ltimo Resultado</h2></header>
		
		<table>
			<tr><th colspan="4">Liga Endesa</th></tr>
			<tr>
				<td id="team-left">Real Madrid</td>
				<td class="result">102</td>
				<td class="result" id="result-right">98</td>
				<td id="team-right">Valencia Basket</td>
			</tr>
		</table>
	</section>
	
	<hr/>
	
	<section>
		<header>
			<h2 class="section-title">&Uacute;ltimas Noticias:</h2>
		</header>
		<hr/>
		<article th:each="item: ${news}" th:class="${itemStat.odd}? 'index-article odd-background' : 'index-article'">
			<a th:href="'/News/' + ${item.id}">
			<header>
				<h3 class="news-title" th:utext="${item.title}"/>
			</header>
			<p class="news-content-preview" th:utext="${item.content}"/>
			</a>
		</article>
	</section>
	
	<footer>
		<!-- TODO footer -->
	</footer>
</body>
</html>