<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"/> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" th:content="${description}"/>
    <meta name="keywords" th:content="${keywords}"/>
    <meta name="author" th:content="${author}" />
	<meta name="copyright" th:content="${copyright}" />
	<meta charset="utf-8"/>
	
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<header>
		<h1 th:text="${title}"/>
	</header>
	<nav>
		<!-- TODO navigation bar -->
	</nav>
	
	<section>
		<!-- TODO section -->
	</section>
	
	<footer>
		<!-- TODO footer -->
	</footer>
</body>
</html>